.logo
{
    border-radius: 20px;
}
.circle
{
    margin: 40px;
    font-size: 0px ;
    width: 40px;
    height: 40px;
    background-color:red ;
    border-radius: 50px;
  }
.h1
  {
      display: inline;
      padding: 10px;
      border: 1px solid red;
      background-color:  #D18C1D;
  }
p
  {
      background-color:#D1D631;
      width: 600px;
      height: 400px;
      border: 2px dotted black;
    }

.links
{
    text-align: center;
    background-color:#A1A1A1;
    border-bottom: 3px dashed blue;
}